body {
    background-color: #cacfd2;
    font-family: Verdana, sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

.card, .table-container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    max-width: 800px;
}

#logH{
    margin-bottom: -16%;
}

#Header1, #Header2 {
    text-align: center;
    margin-top: 3%;
}

#Breakfast, #Lunch, #Dinner, #Snacks, #calBurn {
    background-color: white;
    border-style: solid;
    border-radius: 30px;
    border-width: 0.1cm;
    text-align-last: center;
    max-width: fit-content;
    margin: 5% auto;
    padding: 3%;
}

#brimg, #Lunch img, #Dinner img, #Snacks img {
    height: 200px;
    width: auto;
}

#logBr, #logLn, #logDn, #logSn {
    align-self: flex-start;
}

.btn {
    margin-top: 15px;
}